.contact {
  padding-bottom: 82px;
  background-color: #e5e5e577;
}

.contacts {
  margin: 0 auto;
  max-width: 828px;
}

.contacts-title {
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 46px;
  line-height: 50px;
  color: #333333;
}

.contacts-subtitle {
  padding-bottom: 29px;
  max-width: 554px;
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}

.form-input {
  margin-bottom: 20px;
  margin-right: 33px;
  padding: 16px 0 15px 16px;
  border-radius: 8px;
  border: none;
  width: 100%;
}

.form-input:focus {
  outline: none;
  border: 2px solid #049FFB;
}

.form-button {
  padding: 8px 38px 12px 40px;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 20px;
  color: white;
  background-color: #049FFB;
}

.form-item {
  margin-bottom: 30px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
  align-items: flex-start;
}

.form-item-descr {
  margin-bottom: 36px;
}

.form-item-descr_title {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 14px;
  color: #999999;
}

.form-item-descr_link {
  font-size: 20px;
  line-height: 24px;
  color: #666666;
}

.form-item-descr_link a:hover {
  color: #049FFB;
}

.form-item-descr_link a img {
  padding-right: 7px;
  -webkit-filter: grayscale(100);
  filter: grayscale(100);
}

.form-item-descr_link a img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

.message {
  padding-right: 16px;
  height: 150px;
  overflow: auto;
}

@media screen and (max-width: 992px) {
  .contact {
    display: none;
  }
  .contact-lg {
    display: block;
  }
}

@media screen and (min-width: 993px) {
  .contact {
    display: block;
  }
  .contact-lg {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  .form-button {
    width: 100%;
  }
}

@media screen and (max-width: 415px) {
  .contacts {
    max-width: 280px;
  }
  .contacts-title {
    font-size: 39px;
  }
}
